/* poppins font */
@font-face {
    font-family: Poppins;
    src: url('font/POPPINS-REGULAR.TTF');
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Century ;

}
body{
    background: linear-gradient(-45deg, #ee7752,#e73c7e, #23a);
    background-size: cover;
    font-family: "Poppins";
}
header{
    background-color: #733377;
    height: 70px;
    background-size: cover;
    background-position: center;
    padding: 10px;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 15px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:  #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}


.img{
   margin-top:60px ;
   height: 100px;
   width: 95px;
   background: url(images/logo.jpg)no-repeat;
   background-size: cover;
   border-radius: 50%;
   position: absolute;
   top: 0%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.home{
    
    height: 75vh;
    width: 50%;
    background: #ee7752 ;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 50px;
}
.home h1{
    
    margin-top: 100px;

}
.home p{
    
    margin-top: 200px;
    margin-right: 50px;
    margin-left: 350px;
    text-align: right;
}
.about{
    padding: 50px;
    margin-top: 50px;
    margin-left: 40px; 
    margin-right: 40px;
    font-family: century gothic;
    background: white;
    text-align: center;
    border-radius: 10px;
}
.about p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.history{
    
    padding: 50px;
    margin-top: 50px;
    margin-left: 40px; 
    margin-right: 40px;
    font-family: century gothic;
    background: white;
    text-align: center;
    border-radius: 10px;
}
.top{
    
    font-size: 30px;
    font-weight: 700;
    padding: 50px;
    margin-top: 50px;
    margin-left: 40px; 
    margin-right: 40px;
    font-family: century gothic;
    background: white;
    text-align: center;
    border-radius: 10px;
}
.sad{
    background: white;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 24px;
    font-family: 'Dokdo',cursive;
    text-align: center;
}
.block{
    margin-top: 30px;
}
.box{
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.long{
    margin-top: 20px;
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;    
}

/* for images in gallery.html */
#img1{
    width: 800px;
    border-radius: 20px;
}
#img2{
    width: 382px;
    border-radius: 20px;
}
#img3{
    width: 800px;
    border-radius: 20px;
}
#img4{
    width: 382px;
    border-radius: 20px;
}
img:hover{
    transform: scale(1.1);
}
.card{
     max-width: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 30px rgb(rgb0,0,0,0.02);
}